/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.container {
  text-align: center;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid blue;
  margin: 1em 0;
  padding: 0;
}

.table {
  display: flex;
  justify-content: center;
  border-spacing: 8px;
}

.td {
  background-color: #3497DB;
  color: white;
  width: 32px;
  height: 32px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px grey;
}

.form {
  padding: 16px;
}

#input {
  width: 30%;
  padding: 8px;
 }

#button {
  background-color: #3379B7;
  color: white;
  padding: 8px;
}
